h1 {
  text-align: center;
}
body {
    background-color:burlywood
  }
#mainContent{
  border-style: solid;
  background-color: antiquewhite;
  width: 70%;
  margin: auto;
  padding: 10px;
}
a:link {
  color: rgb(0, 0, 0);
}
a:visited {
  color: rgb(0, 0, 0);
}
a:hover {
  color: #ffffff, 0, 128;
}
a:active {
  color: rgb(0, 0, 0);
}
img{
  display: block;
  margin: auto
}
table{
  width: 70%;
  margin: auto;
  padding: 10px;
}
nav{
  border-style: solid;
  background-color: antiquewhite;
  width: 30%;
  margin: auto;
  padding: 20px;

}